[submodule "/opt/GroundingDINO"]
	path = /opt/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "/opt/EfficientSAM"]
	path = /opt/EfficientSAM
	url = https://github.com/yformer/EfficientSAM.git
[submodule "/opt/graspnetAPI"]
	path = /opt/graspnetAPI
	url = git@github.com:HanzhiC/graspnetAPI.git
[submodule "/opt/graspness_unofficial"]
	path = /opt/graspness_unofficial
	url = https://github.com/HanzhiC/graspness_unofficial.git
